/* HTML/CSS W2 Project
* Work in pairs
* Mark up your content with semantic html
* Lay out your page using flexbox and grid
* Test your work with Devtools.
* You can get pictures and choose custom size in the download at
* https://www.pexels.com/ 
* If you want to use a different font, get them from
* https://fonts.google.com/
*/

/* Testing your work 
== check your CSS
* uses grid
* uses flexbox
* uses at least one media query

== check your HTML
* uses semantic HTML
* has a Lighthouse Access score of 100 <-- 
* works on desktop and mobile
* works when you size the text up by 200%

== check your design
* follows the example
* you can choose your own colours and fonts if you like
* write your names at the bottom
* take a screenshot at laptop and Moto G4 device sizes in Devtools
*/

body {
  font: 100% "Poppins", sans-serif;
  background-color: rgb(106, 104, 104);
  text-align: center;
  color: white;
}

.Oneil, .Alex {
  display: grid;
  background: linear-gradient(145deg,rgb(102, 95, 95),white);
  color: black;
  border: 1px white solid;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 275px;
  grid-template-areas: 
  "picture name"
  "list list";
  grid-gap: 5px;
  text-align: left;
}

.picture {
  grid-area: picture;
  border: 1px solid rgb(253, 251, 251);
  width: 100px;

}

.name {
  grid-area: name;
  margin-right: 20px;
  font-size: 26px;
  font-weight: lighter;
}

.list {
  grid-area: list;
  justify-self: start;
  margin: 5px;
  padding: 10px;
  font-style: italic;
}

@media (min-width: 300px) {

  main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  footer {
    margin: 100px 0;
  }
}

@media (max-width: 450px) {
  .name {
    font-size: 24px;
  }
}