/* HTML/CSS W2 Project
* Work in pairs
* Mark up your content with semantic html
* Lay out your page using flexbox and grid
* Test your work with Devtools.
* You can get pictures and choose custom size in the download at
* https://www.pexels.com/ 
* If you want to use a different font, get them from
* https://fonts.google.com/
*/

/* Testing your work 
== check your CSS
* uses grid
* uses flexbox
* uses at least one media query

== check your HTML
* uses semantic HTML
* has a Lighthouse Access score of 100 <-- 
* works on desktop and mobile
* works when you size the text up by 200%

== check your design
* follows the example
* you can choose your own colours and fonts if you like
* write your names at the bottom
* take a screenshot at laptop and Moto G4 device sizes in Devtools
*/

/* General styles */
:root {
  --spacing: clamp(1vw, calc(10px + 1vw), 2vw);
  --omercolor: #d1495b;
  --seyedcolor: #f79824;
  --seancolor: #00798c;
  --background: #eff6e0;
}
body {
  font: 100% "Newsreader", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}
header {
  margin-top: 2rem;
  text-align: center;
}

h1, h2, h3, h4 {
  padding: 0;
}
/* Main */
main {
  display: grid;
  gap: var(--spacing);
  grid-template-areas:
  ". . . . . ."
  ". omer omer seyed seyed ."
  ". . sean sean . ."
  ". . . . . ."
  ;
  justify-items: stretch;
}
main > div {
  display: flex;
  flex-flow: column nowrap;
}
.title > h2 {
  text-align: center;
}
.img-wrapper {
  flex-basis: 0 1 40%;
}
.img-wrapper img {
  max-width: 210px;
  max-height: 140px;
  border: 2px solid;
  border-radius: 3%;
}
.tl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.omer, .sean, .seyed {
  color: #fff;
}
.omer {
  background-color: var(--omercolor);
  grid-area: omer;
}
.seyed {
  background-color: var(--seyedcolor);
  grid-area: seyed;
}
.sean {
  background-color: var(--seancolor);
  grid-area: sean;
}
.wrapper ol {
  /* padding-left: 1em; */
}

/* Footer */ 
footer {
  text-align: center;
  margin-bottom: 2rem;
}


